@page "/superhero/{id:int}"
@inject ISuperHeroService SuperHeroService

@if (hero == null)
{
    <span>Hero is loading...</span>
}
else
{
    <h3>This is @hero.HeroName, also called @hero.FirstName @hero.LastName.</h3>
    <span>This hero belongs to @hero.Comic.Name.</span>
}

@code {
    [Parameter]
    public int Id { get; set; }

    SuperHeroDB.Shared.SuperHero hero = null;

    protected override async Task OnInitializedAsync()
    {
        hero = await SuperHeroService.GetSuperHero(Id);
    }
}
